$color-bg:#e6e6e6;
$color-accent:#009176;
$color-grey-100: #E0DEDF;
$color-grey-200: #c2c0c1;
$color-grey-300: #AFADAE;
$color-grey-500: #807F7F;
$color-grey-700: #555354;
$color-grey-900: #2D2B2C;
$color-error:rgb(170, 50, 50);
