.projects-flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 0 auto;
	max-width: 1200px;
}

.project-card {
	color: #fff;
	background-size: cover;
	background-position: center;
	padding: 10rem 0 0;
	max-width: 35ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 0.5s ease;

	&:hover,
	&:focus-within {
		transform: scale(1.05);
	}
}
.project-interactions {
	background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
		url('../../img/pills.jpg');
}
.message-app {
	background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
		url('../../img/message-bg.png');
}
.auth-app {
	background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
		url('../../img/auth-bg.jpg');
}

.project-card__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem;
	background: linear-gradient(
		rgb(0, 0, 0, 0),
		rgb(0, 0, 0, 0.3) 20%,
		rgb(0, 0, 0, 1)
	);
	height: 100%;

	.project-card__title {
		position: relative;
		// width: max-content;
		max-width: 100%;

		&::after {
			content: '';
			position: absolute;
			bottom: -4px;
			left: -1.5rem;
			height: 4px;
			width: calc(100% + 1.5rem);
			background: $color-accent;
			transform-origin: left;
			transition: transform 0.5s ease;
		}
	}
	.project-card__body {
		font-size: 1.6rem;
	}
	.project-card__actions {
		margin-top: 1rem;
	}
}

@media (hover) {
	.project-card {
		&:hover .project-card__title::after,
		&:focus-within .project-card__title::after {
			transform: scaleX(1);
			transition-delay: 0.4s;
		}
		&:hover .project-card__content,
		&:focus-within .project-card__content {
			transform: translateY(0);
			transition-delay: 0.5s;
		}
		&:hover .project-card__content > *:not(.project-card__title),
		&:focus-within .project-card__content > *:not(.project-card__title) {
			opacity: 1;
			transition-delay: 0.8s;
		}
	}
	.project-card__content {
		transform: translateY(65%);
		transition: transform 0.5s ease;

		& > *:not(.project-card__title) {
			opacity: 0;
			transition: opacity 0.5s ease;
		}

		.project-card__title::after {
			transform: scaleX(0);
		}
	}

	// solving an issue with transform for tab navigation
	.project-card:focus-within .project-card__content {
		transition-duration: 0ms;
	}
}
